#flipper {
  display: none;
}

body {
  background-color: #1b1c1ff8;
  color: white;
  text-shadow: 1px 1px 4px black;
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body.enhanced {
  background-color: #e4e4e7;
  color: black;
  text-shadow: 1px 1px 4px rgb(206, 206, 206);
}

a {
  color: white;
  text-decoration: none;
  transition: background-color 0.3s;
  /* Transition for color change */
}

a:hover {
  color: #d6e4a3;
  /* Change color on hover */
}

a.enhanced {
  color: black;
  text-decoration: none;
}

a.enhanced:hover {
  color: blue;
  /* Change color on hover */
}

#wrapper1 {
  display: flex;
  background-color: #16171b85;
  border-bottom: 1px solid #646464;
}

#wrapper1.enhanced {
  background-color: rgb(212, 219, 231);
  border-bottom: 1px solid #646464;
}

#wrapper2 {
  display: flex;
}

#up_left {
  flex: 1;
}

#up_center {
  display: flex;
  flex: 3;
  justify-content: start;
  align-items: end;
}

#up_right {
  display: flex;
  flex: 1;
  justify-content: left;
  align-items: center;
}

#left {
  /* Ustaw szerokość lewego panelu */
  height: calc(95.4vh - 17px);
  /* 100vh minus 17px, aby uniknąć minimalnych przesunięć */
  flex: 1;
  overflow-y: scroll;
  /* Dodaj pasek przewijania do lewego panelu */
}

#center {
  flex: 4;
  background-color: #141414;
  margin-right: 14px;
}

#center.enhanced {
  background-color: #ececee;
  text-shadow: -0.5px -0.5px 0 rgba(0, 0, 0, 0.001),
    /* Lewy górny cień */ 0.5px -0.5px 0 rgba(0, 0, 0, 0.001),
    /* Prawy górny cień */ -0.5px 0.5px 0 rgba(0, 0, 0, 0.001),
    /* Lewy dolny cień */ 0.5px 0.5px 0 rgba(0, 0, 0, 0.001);
  /* Prawy dolny cień */
}

table {
  width: 100%;
}

td {
  width: 50%;
}

td.CodeMirror {
  display: hidden;
  /* Ukryj komórkę oznaczoną klasą "hidden" */
}

h1,
h2 {
  font-size: x-large;
  text-shadow: 1px 1px 1px black;
}

ul {
  margin-left: -30px;
}

img {
  border: 1px solid white;
  margin-left: 10px;
}

.CodeMirror {
  border: 1px solid #646464;
  min-height: 400px;
  font-size: 14px;
}
.CodeMirror .cm-comment {
  color: rgb(82, 17, 17);
  font-style: normal;
} /* italic*/
.CodeMirror-gutters {
  background: #e4e4e7;
  border-right: 1px solid #646464;
}
.CodeMirror-linenumber {
  color: dimgray;
}

.cm-s-twilight .cm-string {
  font-style: normal;
}
.cm-s-twilight span.cm-variable-2,
.cm-s-twilight span.cm-def {
  color: cornflowerblue;
} /**/
.cm-s-twilight span.cm-variable-3,
.cm-s-twilight span.cm-def {
  color: rgb(237, 150, 100);
} /**/
.cm-s-twilight .CodeMirror-gutters {
  background: #212225;
  border-right: 1px solid #646464;
}
.cm-s-twilight .cm-comment {
  color: lightgreen;
  font-style: normal;
} /* italic*/

#theme1 {
  background-color: black;
  color: white;
  height: 30;
  border-radius: 10px;
}

#theme1.enhanced {
  background-color: white;
  color: black;
}

#outputContainer {
  margin: 0;
  padding-top: 4;
  padding-bottom: 7;
  color: white;
}

#outputContainer.enhanced {
  color: black;
}

#tipsfield {
  margin: 0;
  padding-top: 4;
  padding-bottom: 7;
  color: cornflowerblue;
}

#tipsfield.enhanced {
  color: blue;
}

#debugfield {
  margin: 0;
  padding-top: 4;
  padding-bottom: 7;
  color: lightgreen;
}

#debugfield.enhanced {
  color: rgb(82, 17, 17);
}

@media only screen and (max-height: 500px) {
  #wrapper0 {
    width: 100%;
  }

  #wrapper1 {
    width: 100%;
  }

  h1,
  h2 {
    font-size: medium;
  }

  ul {
    font-size: small;
  }

  td {
    display: block;
    /* Ustaw komórki jako bloki na małych ekranach */
    width: 100%;
    /* Szerokość komórek na pełną szerokość ekranu */
    box-sizing: border-box;
    /* Dołącz padding i border do szerokości komórek */
  }

  td:nth-child(2) {
    display: none;
  }
}
@media only screen and (max-width: 480px) {
  #center,
  h1,
  h2,
  #left,
  #wrapper0,
  #wrapper1 {
    display: none;
  }
  #flipper {
    display: block;
    text-align: center;
    font-size: xx-large;
  }
}

#img1 {
  width: 200px;
  filter: invert(1);
}

#img1.enhanced {
  filter: invert(0);
}
