#wrapper1{
  width: 100%;
  display: flex;
}

#wrapper2{
  width: 100%;
  display: flex;
  min-height: 100%;
}

#up_left{
  flex: 1;    
  height: 30 px;
  background-color:#436060;
  border-style: solid;
  border-color: #111b1b36;
}
#up_center{
  display: flex;
  flex: 4; 
  height: 30 px;
  background-color:#436060;
  border-style: solid;
  border-color: #111b1b36;
  justify-content:start;
  align-items:end;


}

#up_right{
  flex: 1;    
  height: 30 px;
  background-color:#436060;
  border-style: solid;
  border-color: #111b1b36;
}

#left{
   flex: 1;    
   background-color: darkslategrey;
   min-height: 100%;
}

#center {
  flex: 4;
  min-height: 100%;

   background-color:#436060;
}

#right{
  flex: 1;
  background-color: darkslategrey;
  min-height: 100%;

}


html, body {
  height: 100%;
  width: 100%;
  background-color: darkslategrey;
  color: white;
  text-shadow: 
               1px 1px 4px black;
  
}

h1, h2{
  color: #d2c66f;
  text-shadow: 1px 1px 3px #2e2e2e,
               -1px -1px 3px #2e2e2e,
               1px -1px 3px #2e2e2e,
               -1px 1px 3px #2e2e2e;
               margin-left: 30px;

}

a {
  color: #d2c66f;
}

ul {
  display: block;
  margin-left: -30px;
  
} 

img {
  border: 1px solid white;
  margin-left: 10px;
}

.forward-page-link {
  position: fixed;
  bottom: 30px;
  right: 30px;
  font-size: 16px;
  color: #d2c66f;
}

.previous-page-link {
  position: fixed;
  bottom: 30px;
  left: 30px;
  font-size: 16px;
  color: #d2c66f;
}

.CodeMirror {
  border: 1px solid #eee;
  min-height: 400px;
}
