html, body {
  height: 100%;
  width: 100%;
  background-color:#212b2d;
  color: white;
  text-shadow: 
               1px 1px 4px black;
  
}

#wrapper1{
  width: 100%;
  display: flex;
}

#wrapper2{
  width: 100%;
  display: flex;
  min-height: 100%;
}

#up_left{
  flex: 1;    
  height: 30 px;
}
#up_center{
  display: flex;
  flex: 4; 
  height: 30 px;
  justify-content:start;
  align-items:end;


}

#up_right{
  flex: 1;    
  height: 30 px;
}

#left{
   flex: 1;    
   min-height: 100%;
}

#center {
  flex: 4;
  min-height: 100%;
    background-color:#333d3f;
}

#center_up {
  min-height: 100%;
}

#right{
  flex: 1;
  min-height: 100%;

}

h1, h2{
  font-size:x-large;
  color: #d2c66f;
  text-shadow: 1px 1px 3px #2e2e2e,
               -1px -1px 3px #2e2e2e,
               1px -1px 3px #2e2e2e,
               -1px 1px 3px #2e2e2e;
               margin-left: 30px;

}

a {
  color: #d2c66f;
}

ul {
  display: block;
  margin-left: -30px;
  
} 

img {
  border: 1px solid white;
  margin-left: 10px;
}

.forward-page-link {
  position: fixed;
  bottom: 30px;
  right: 30px;
  font-size: 16px;
  color: #d2c66f;
}

.previous-page-link {
  position: fixed;
  bottom: 30px;
  left: 30px;
  font-size: 16px;
  color: #d2c66f;
}

.CodeMirror {
  border: 1px solid #eee;
  min-height: 400px;
}


.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}