#myReactortext{
    position: fixed;
    left: 0.5208%;
    top: 7%;
    z-index: 3;
    margin-top: 0.5208%;
    white-space: pre-line;
    line-height: 150%;
    text-shadow: none;
}

#myReactortext3{
    position: fixed;
    left: 70.8333%;
    top: 7%;
    z-index: 3;
    margin-top: 0.5208%;
    white-space: pre-line;  
    line-height: 150%;
    text-shadow: none;
}

.green-text {
    color: limegreen;
}

.red-text {
    color: red;
}