#myReactortext{
    position: fixed;
    left: 0.5208%; /* (10px / 1920px) * 100% */
    top: 7%; /* (60px / 1920px) * 100% */
    z-index: 3;
    margin-top: 0.5208%; /* (10px / 1920px) * 100% */
    white-space: pre-line;
    line-height: 150%;
    text-shadow: none;
}

#myReactortext3{
    position: fixed;
    left: 70.8333%; /* (1360px / 1920px) * 100% */
    top: 7%; /* (60px / 1920px) * 100% */
    z-index: 3;
    margin-top: 0.5208%; /* (10px / 1920px) * 100% */
    white-space: pre-line;
    line-height: 150%;
    text-shadow: none;
}