#myReactbar {
  z-index: 2;
  position: fixed;
  top: 100%;
  right: 0px;
  height: 93.7%;
  width: 100%;
  background-color: #141414;
  color: white;
}

#myReactbar.enhanced {
  background-color: #ffffff;
}

#myReactbar.customized {
  background-color: #1c2333;
}

#myReactbar2 {
    z-index: 2;
    position: fixed;
    top: -6.4%;
    left: 0%;
    height: 6.4%;
    width: 90%;
    background-color: #212225;
  }

  #myReactbar2.enhanced {
    background-color: #e4e4e7;
  }
  
  #myReactbar2.customized {
    background-color: #2b1e6b;
  }