.sidebar {
  height: 100%;
  width: 0; /* 0 width - change this with JavaScript */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

.togglebtn {
  cursor: pointer;
  color: white;
  background-color: black;
  padding: 6px 10px;
  border-radius: 10px;
  border-color: #4b4d4e;
}
.togglebtn.enhanced {
  color: black;
  background-color: white;
  border-color: #dbd5d5;
}
.togglebtn.customized {
  background-color:#5239cc;
  color: white;
  border-color: #715cda;
}

#main {
  transition: margin-left 0.5s;
  padding: 10px;
}