.CodeMirror {
  border: 1px solid #646464;
  min-height: 400px;
  font-size: 14px;
}
.CodeMirror .cm-comment {
  color: darkblue;
  font-style: normal;
}

.CodeMirror-gutters {
  background: #e4e4e7;
  border-right: 1px solid #646464;
}
.CodeMirror-linenumber {
  color: darkslategrey;
  text-shadow: 1px 1px 1px white;
}

.cm-s-twilight .cm-string {
  font-style: normal;
}
.cm-s-twilight span.cm-variable-2,
.cm-s-twilight span.cm-def {
  color: cornflowerblue;
}
.cm-s-twilight span.cm-variable-3,
.cm-s-twilight span.cm-def {
  color: rgb(237, 150, 100);
}
.cm-s-twilight .CodeMirror-gutters {
  background: #212225;
  border-right: 1px solid #646464;
}

.cm-s-twilight .CodeMirror-linenumber {
  text-shadow: none;
}
.cm-s-twilight .cm-comment {
  color: lightgreen;
  font-style: normal;
}
