body.customized {
  background-color: #281d61;
  color: white;
  text-shadow: 1px 1px 1px black;
}

a.customized {
  color: white;
  text-decoration: none;
}

a.customized:hover {
  color: greenyellow;
}

h1.customized {
  color: orange;
}

#wrapper1.customized {
  background-color: #251d44;
  border-bottom: 1px solid #646464;
}

#center.customized {
  background-color: #251d44;
  text-shadow: -0.5px -0.5px 0 rgba(0, 0, 0, 0.001),
    /* Lewy górny cień */ 0.5px -0.5px 0 rgba(0, 0, 0, 0.001),
    /* Prawy górny cień */ -0.5px 0.5px 0 rgba(0, 0, 0, 0.001),
    /* Lewy dolny cień */ 0.5px 0.5px 0 rgba(0, 0, 0, 0.001);
  /* Prawy dolny cień */
}

#theme1.customized, #debugButton.customized {
  background-color: #044a10;
  color: #ffffff;
}
#runButton:enabled.customized {
  background-color: #123685;
  color: #ffffff;
}
#theme1settings.customized {
  display: block;
  margin-left: 3;
  background-color: black;
  color: white;
  height: 30;
  border-radius: 10px;
}

#outputContainer.customized {
  color: rgb(235, 12, 142);
}

#tipsfield.customized {
  color: rgb(0, 204, 255);
}

#debugfield.customized {
  color: rgb(68, 201, 15);
}

@media only screen and (max-width: 480px) {
  #img1.customized {
    filter: invert(0);
  }
}
