body.customized {
  background-color: #2b1e6b;
  color: white;
  text-shadow: 1px 1px 1px black;
}

a.customized {
  color: white;
  text-decoration: none;
  text-shadow: none;
}

a.customized:hover {
  color: greenyellow;
}

h1.customized {
  color: orange;
  text-shadow: none;
}

ul.customized {
  color: white;
  text-shadow: none;
}

#codeEditor1Title.customized,
#codeEditor2Title.customized {
  background-color: #5239cc;
}

#center.customized {
  background-color: #2b1e6b;
  text-shadow: -0.5px -0.5px 0 rgba(0, 0, 0, 0.001),
    /* Lewy górny cień */ 0.5px -0.5px 0 rgba(0, 0, 0, 0.001),
    /* Prawy górny cień */ -0.5px 0.5px 0 rgba(0, 0, 0, 0.001),
    /* Lewy dolny cień */ 0.5px 0.5px 0 rgba(0, 0, 0, 0.001);
  /* Prawy dolny cień */
}

#theme1.customized,
#debugButton.customized {
  background-color: #044a10;
  color: #ffffff;
  border-color: green;
}

#theme1.customized{
  padding-left: 7;
  padding-right: 7;
}

#runButton:enabled.customized {
  background-color: #123685;
  color: #ffffff;
}

#theme1settings.customized {
  cursor: pointer;
  display: block;
  margin-left: 3;
  background-color: rgb(109, 42, 116);
  color: white;
  height: 30;
  border-radius: 10px;
  border-color: rgb(134, 95, 126);
  font-size:x-large;
  padding-bottom: 32;
  padding-left: 7;
  padding-right: 7;
}

#reactor.customized {
  background-color: #123685;
  border-color: #2f5bbb;
  filter: grayscale(90%);
  border-style: outset;
}
#reactor.customized:active {
  border-style: inset;
}
#outputContainer.customized {
  color: rgb(238, 72, 169);
  text-shadow: none;
}

#tipsfield.customized {
  color: rgb(0, 204, 255);
}

#debugfield.customized {
  color: rgb(68, 201, 15);
}

#hr0.customized,
#hr1.customized,
#hr2.customized,
#hr3.customized {
  color: #4613be;
}

@media only screen and (max-width: 480px) {
  #img1.customized {
    filter: invert(1);
  }
}
