.CodeMirror {
  min-height: 400px;
  font-size: 14px;
}
.CodeMirror .cm-comment {
  color: darkblue;
  font-style: normal;
}

.CodeMirror-gutters {
  background: #f9f9f9;
  border-right: 1px solid #bfc6c8;
}
.CodeMirror-linenumber {
  color: darkslategrey;
  text-shadow: 1px 1px 1px white;
}

.cm-s-twilight .cm-string {
  font-style: normal;
}
.cm-s-twilight span.cm-variable-2,
.cm-s-twilight span.cm-def {
  color: cornflowerblue;
}
.cm-s-twilight span.cm-variable-3,
.cm-s-twilight span.cm-def {
  color: rgb(237, 150, 100);
}
.cm-s-twilight .CodeMirror-gutters {
  background: #141414;  
  border-right: 1px solid rgb(61, 61, 61);
}

.cm-s-twilight .CodeMirror-linenumber {
  text-shadow: none;
}

.cm-s-twilight .cm-comment {
  color: lightgreen;
  font-style: normal;
}
