#flipper {
  display: none;
}

body {
  background-color: #1b1c1ff8;
  color: white;
  text-shadow: 1px 1px 1px black;
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
}

body.enhanced {
  background-color: #e4e4e7;
  color: black;
  text-shadow: 1px 1px 4px #d4dbe7;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #d6e4a3;
}

a.enhanced {
  color: black;
  text-shadow: 1px 1px 1px white;
  text-decoration: none;
}

a.enhanced:hover {
  color: blue;
}

h1 {
  color: white;
  text-shadow: none;
}

h1.enhanced {
  color: black;
  text-shadow: 1px 1px 1px white;
}

ul {
  color: white;
  text-shadow: none;
}

ul.enhanced {
  color: black;
  text-shadow: 1px 1px 1px white;
}

#wrapper1 {
  display: flex;
  margin: 0;
}

#wrapper2 {
  display: flex;
  margin: 0;
}

#up_left {
  display: flex;
  flex: 4;
  justify-content: left;
  align-items: center;
}

#up_right {
  display: flex;
  flex-direction:row;
  flex: 1;
  justify-content: right;
  margin-right: 12px;
  align-items: center;
}

#left {
  height: calc(95.4vh - 24px);
  flex: 1;
  overflow-y: scroll;
}

#center {
  flex: 4;
  background-color: #212225;
  margin-right: 4px;
  margin-left: 4px;
  border-top: 0;
  border-radius: 10px;
  border-style: hidden;
}

#center.enhanced {
  background-color: #e4e4e7;
  text-shadow: -0.5px -0.5px 0 rgba(0, 0, 0, 0.001),
    0.5px -0.5px 0 rgba(0, 0, 0, 0.001), -0.5px 0.5px 0 rgba(0, 0, 0, 0.001),
    0.5px 0.5px 0 rgba(0, 0, 0, 0.001);
}

#codeEditor1Title,
#codeEditor2Title {
  background-color: #2b2d30;
  border-radius: 10px 10px 0 0;
}

#codeEditor1Title.enhanced,
#codeEditor2Title.enhanced {
  background-color: #ececee;
}

table {
  width: 100%;
  margin: -3px;
}

td {
  width: 50%;
}

h1,
h2 {
  font-size: x-large;
  text-shadow: 1px 1px 1px black;
}

ul {
  margin-left: -30px;
}

img {
  border: 1px solid white;
  margin-left: 10px;
}

#hiddenConsole {
  margin-top: 5px;
  font-size: small;
}

#theme1settings {
  display: none;
  margin-left: 10px;
  background-color: black;
  color: white;
  height: 30px;
  border-radius: 10px;
}

#debugButton {
  margin-top: 3px;
}

#runButton {
  cursor: pointer;
  margin-top: 2px;
  height: 25px;
  margin-bottom: 2px;
  border-radius: 6px;
  border-width: 1px;
}
#theme1 {
  cursor: pointer;
  background-color: black;
  color: white;
  height: 30px;
  border-radius: 10px;
  border-color: #4b4d4e;
  font-size: x-large;
  padding-bottom: 33px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 0px;
  margin: 0px;
}

#debugButton {
  cursor: pointer;
  background-color: #1a5c2e;
  color: white;
  height: 25px;
  border-radius: 6px;
  border-width: 1px;
  border-color: #307a3c;
}
#runButton:enabled {
  background-color: darkslategray;
  color: white;
}

#theme1.enhanced,
#debugButton.enhanced,
#runButton:enabled.enhanced {
  background-color: white;
  color: black;
  border-color: #c4c8ca;
}

#theme1.enhanced {
  padding-left: 7px;
  padding-right: 7px;
}

#reactor, #htmlr {
  cursor: pointer;
  margin-left: 3px;
  border-radius: 10px;
  background-color: black;
  border-color: #2f3131;
  padding: 16.5px;
  background-size: cover;
  filter: sepia() grayscale() contrast(1) brightness(1.3);
}

#reactor {
  background-image: url(/Images/react.png);
}

#htmlr {
  background-image: url(/Images/react.png);
}

#reactor.enhanced, #htmlr.enhanced {
  border-color: rgb(104, 99, 99);
  filter:brightness(1.3) grayscale() invert();
  border-style: inset;
}
#reactor.enhanced:active, #htmlr.enhanced:active {
  border-style: outset;
}

#outputContainer {
  margin: 0px;
  padding-top: 4px;
  padding-bottom: 7px;
  color: white;
  text-shadow: none;
}

#outputContainer.enhanced {
  color: black;
  text-shadow: 1px 1px 1px white;
}

#tipsfield {
  margin: 0px;
  padding-top: 4px;
  padding-bottom: 7px;
  color: cornflowerblue;
}

#tipsfield.enhanced {
  color: blue;
}

#debugfield {
  margin: 0px;
  padding-top: 4px;
  padding-bottom: 7px;
  color: lightgreen;
}

#debugfield.enhanced {
  color: red;
}

#hr0,
#hr1,
#hr2,
#hr3 {
  color: #3d3d3d;
}

#hr0.enhanced,
#hr1.enhanced,
#hr2.enhanced,
#hr3.enhanced {
  color: #bfc6c8;
}

@media only screen and (max-height: 500px) {
  #wrapper0,
  #wrapper1 {
    width: 100%;
  }

  h1,
  h2 {
    font-size: medium;
  }

  ul {
    font-size: small;
  }

  td {
    display: block;
    /* Ustaw komórki jako bloki na małych ekranach */
    width: 100%;
    /* Szerokość komórek na pełną szerokość ekranu */
    box-sizing: border-box;
    /* Dołącz padding i border do szerokości komórek */
  }
  #codeEditor1Title,
  #codeEditor2Title {
    display: none;
  }
  td:nth-child(2) {
    display: none;
  }
  #reactor {
    display: none;
  }
}
@media only screen and (max-width: 480px) {
  #center,
  h1,
  h2,
  #left,
  #wrapper0,
  #wrapper1,
  .togglebtn {
    display: none;
  }

  #flipper {
    display: block;
    text-align: center;
    font-size: xx-large;
  }
}

#img1 {
  width: 200px;
  filter: invert(1);
}

#img1.enhanced {
  filter: invert(0);
}
